{% load gravatar %}
<link href="https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ccccff;">
  <a class="navbar-brand" href="{% url 'movies:index' %}" style="font-family: 'Black Han Sans', sans-serif;">J & N LUXURY CINEMA</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <form class="form-inline my-2 my-md-0" method="get" action="{% url 'movies:search' %}">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="b" value="{{b}}">
      </form>

      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:index' %}">전체 유저 활동</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:profile' user.pk %}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:update' %}">회원정보 수정</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Hi! {{ user.username }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% comment %} <a class="dropdown-item" href="{% url 'accounts:profile' user.pk %}">내 활동</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:update' %}">회원정보 수정</a>
          <a class="dropdown-item" href="{% url 'accounts:change_password' %}">비밀번호 변경</a>
          <div class="dropdown-divider"></div>
          </a> {% endcomment %}
          <form action="{% url 'accounts:delete' %}" class="dropdown-item" method="POST">
            {% csrf_token %}
            <input type="submit" value="회원탈퇴" class="btn btn-danger" onclick="return confirm('정말 회원탈퇴 하시겠습니까?')">
          </form>
        </div>
      </li>
      <li>
        <a class="nav-link btn btn-outline-danger mx-2" href="{% url 'accounts:logout' %}">로그아웃</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link btn btn-outline-info mx-2" href="{% url 'accounts:login' %}">로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-info mx-2" href="{% url 'accounts:signup' %}">회원가입</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>

<script>
  const nav = new Vue({
    el: '#nav',
    delimiters: ['[[', ']]'],
    data: {
      movies: [],
      query: '',
      showNav: false,
    },
    computed: {
      filteredMovies: function () {
        if (!this.query) return [];
        let query = this.query.trim().toLowerCase();
        return this.movies.filter(movie =>
          movie.title.toLowerCase().includes(query)
          || movie.title_eng.toLowerCase().includes(query)
          || movie.title_org.toLowerCase().includes(query))
      }
    },
    created() {
      axios.get("{% url 'movies:index' %}")
        .then(res => this.movies = res.data)
    },
    methods: {
      detailUrl: function (movie) {
        return `/movies/${movie.id}`
      }
    }
  })
</script>
