{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% load make_link %}

{% block content %}

<div class="px-3" style="background-color: white; m-2">
  <h2 style="font-family: 'Do Hyeon', sans-serif; text-align: center;">영화 자세히 보기</h2>
  <hr>
  <h3><b>{{ movie.title }}</b></h3>
  <h6>{{ movie.title_en }}</h6>
  <p style="float: left;"> <img src="{{ movie.poster_url }}" alt="img" style="width:450px; margin-right:50px"> <br></p>
  <br>
  <h3><strong>설명</strong> <br></h3>
  <p>{{ movie.description }}</p>


  <p>
    <h5 class="d-inline">{% for genre in movie.genre.all %}
      <span class="badge badge-primary">{{ genre }}</span>
      {% endfor %}</h5>
  </p>
  <br>
  <hr>
  <p><strong>개봉</strong> : {{ movie.open_date }} | {{ movie.nation }} | {{ movie.show_time}}분</p>
  <p><strong>시청연령</strong> : {{ movie.watch_grade }}</p>
  <p><strong>관객수</strong> : {{ movie.audience }}명</p>
  <p><strong>평점</strong> : {{ movie.user_rating }}</p>
  <p><strong>감독</strong> : {{ movie.director }}</p>
  <p><strong>배우</strong> :
    {% for cast in casts %}
    {{ cast }}
    {% endfor %}</p>

  <p>
    {% if user in movie.like_users.all %}
    <i class="fas fa-heart like-button" style="color: crimson;" data-id="{{ movie.pk }}">
      <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span></i>
    {% else %}
    <i class="fas fa-heart like-button" style="color: black;" data-id="{{ movie.pk }}">
      <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span></i>
    {% endif %}
  </p>

  <hr>
  <br>


  <br>
  <div class="row" style="clear:both;">
    {% for cast in casts %}
    <figure class="snip1445">
      <img src="{{ cast.img_url }}" alt="img" style="width:150px;margin-right:50px; display:block;">
      <figcaption>
        <div>
          <h2></h2>
          <h4>{{ cast.peopleNmEn }}</h4>
        </div>
      </figcaption>
    </figure>
    {% endfor %}
  </div>
  <br>


  <hr>

  <h5 style="font-family: 'Jua', sans-serif; clear:both">리뷰 ({{ reviews.count }})</h5>
  {% for review in reviews %}
  <div>
    <li>{{ review.user }} |
      {% if review.score == 10 %}
      평점 : ⭐⭐⭐⭐⭐</h5>
      {% elif review.score == 9 %}
      평점 : ⭐⭐⭐⭐★</h5>
      {% elif review.score == 8 %}
      평점 : ⭐⭐⭐⭐☆</h5>
      {% elif review.score == 7 %}
      평점 : ⭐⭐⭐★☆</h5>
      {% elif review.score == 6 %}
      평점 : ⭐⭐⭐☆☆</h5>
      {% elif review.score == 5 %}
      평점 : ⭐⭐★☆☆</h5>
      {% elif review.score == 4 %}
      평점 : ⭐⭐☆☆☆</h5>
      {% elif review.score == 3 %}
      평점 : ⭐★☆☆☆</h5>
      {% elif review.score == 2 %}
      평점 : ⭐☆☆☆☆</h5>
      {% elif review.score == 1 %}
      평점 : ★☆☆☆☆</h5>
      {% endif %}
      내용 : {{ review.review }}
      {% if request.user == review.user %}
      <form action="{% url 'movies:reviews_update' movie.pk review.pk %}" method="POST" style="display: inline;">
        {% csrf_token %}
        {{ review_update_form }}
        <input type="submit" value="수정" class="btn btn-outlint-light p-1">
      </form>
      <form action="{% url 'movies:reviews_delete' movie.pk review.pk %}" method="POST" style="display: inline;">
        {% csrf_token %}
        <input type="submit" value="삭제" class="btn btn-outlint-light p-1">
      </form>
      <br>
      {% endif %}
    </li>
  </div>
  {% empty %}
  <p><b>리뷰를 작성해 주세요</b></p>
  {% endfor %}
  <hr>

  {% if user.is_authenticated %}
  <form action="{% url 'movies:reviews_create' movie.pk %}" method="POST">
    {% csrf_token %}
    평점: {{ review_form.score }} 내용: {{ review_form.review }}
    <input type="submit" value="작성" class="btn btn-primary">
  </form>
  {% else %}
  <a href="{% url 'accounts:login' %}">로그인</a>
  {% endif %}
  <hr>
  <a href="{% url 'movies:index' %}" class="btn btn-danger">BACK</a>
  <br>
  <br>
</div>

{% endblock  %}

{% block extra-script %}

<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function (event) {
      const movieId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken' {
        %
        if user.is_authenticated %
      }
      axios.post(`/movies/${movieId}/like/`)
        .then(response => {
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })
        .catch(error => console.log(error)) {
          %
          else %
        }
      alert('좋아요 기능을 사용하려면 로그인을 해주세요.') {
        %
        endif %
      }
    })
  })

  $(".hover").mouseleave(
    function () {
      $(this).removeClass("hover");
    }
  );
</script>
{% endblock %}


{% block extra-style %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,700);

  .snip1445 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
  }

  .snip1445 *,
  .snip1445 *:before,
  .snip1445 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease;
  }

  .snip1445 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }

  .snip1445 figcaption {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px 10px 10px;
    opacity: 0.5;
  }

  .snip1445 figcaption:before,
  .snip1445 figcaption:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff;
  }

  .snip1445 figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .snip1445 figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  .snip1445 figcaption div:before,
  .snip1445 figcaption div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff;
  }

  .snip1445 figcaption div:before {
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  .snip1445 figcaption div:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  .snip1445 h2,
  .snip1445 h4 {
    margin: 0;
    text-transform: uppercase;
  }

  .snip1445 h2 {
    font-weight: 400;
  }

  .snip1445 h4 {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000;
  }

  .snip1445 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .snip1445:hover img,
  .snip1445.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }

  .snip1445:hover figcaption:before,
  .snip1445.hover figcaption:before,
  .snip1445:hover figcaption:after,
  .snip1445.hover figcaption:after,
  .snip1445:hover figcaption div:before,
  .snip1445.hover figcaption div:before,
  .snip1445:hover figcaption div:after,
  .snip1445.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .snip1445:hover figcaption:before,
  .snip1445.hover figcaption:before,
  .snip1445:hover figcaption:after,
  .snip1445.hover figcaption:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
  }
</style>
{% endblock %}