{% extends 'movies/base.html' %}
{% load make_link %}

{% block content %}
  <h2>영화 자세히 보기</h2>
  <hr>
  <h4>{{ movie.title }}</h4>
  <h6>{{ movie.subtitle }}</h6>
  <img src="{{ movie.image }}" alt="img" style="width:210px"> <br>
  <br>
  <p>장르 : {{ movie.genre }}</p>
  <p>개봉년도 : {{ movie.pubDate }}</p>
  <p>감독 : {{ movie.director }}</p>
  <p>배우 : {{ movie.actor }}</p>
  <p>평점 : {{ movie.userRating }}</p>
  <p>영화링크 : <a href="{{ movie.link }}">{{ movie.link }}</a></p>
  <p>
    {% if user in movie.like_users.all %}
      <i class="fas fa-heart like-button" style="color: crimson;" data-id="{{ movie.pk }}">
        <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span></i>
    {% else %}
      <i class="fas fa-heart like-button" style="color: black;" data-id="{{ movie.pk }}">
        <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span></i>
    {% endif %}
  <p>
  <hr>

  <h5>리뷰</h5>
  {% for review in reviews %}
  <div>
    <li>
      <i class="fas fa-star" style="color: #FFD700;"></i>{{ review.score }} | 내용: {{ review.review }}
      {% if request.user == review.user %}
        <form action="{% url 'movies:reviews_update' movie.pk review.pk %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <input type="submit" value="수정" class="btn btn-light">
        </form>
        <form action="{% url 'movies:reviews_delete' movie.pk review.pk %}" method="POST" style="display: inline;">
          {% csrf_token %}
          <input type="submit" value="삭제" class="btn btn-light">
        </form>
      {% endif %}
    </li>
  </div>
  {% empty %}
    <p><b>리뷰를 작성해 주세요</b></p>
  {% endfor %}
  <hr>

  {% if user.is_authenticated %}
  <form action="{% url 'movies:reviews_create' movie.pk %}" method="POST" data-id="{{ review.pk }}">
    {% csrf_token %}
    {{ review_form.review.label_tag }} &nbsp; 평점: {{ review_form.score }} | 내용: {{ review_form.review }} 
    <input type="submit" value="작성" class="btn btn-primary">
  </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">로그인!</a>
  {% endif %}
  <hr>
  <a href="{% url 'movies:index' %}" class="btn btn-danger">BACK</a>
{% endblock%}


<script>
  const likeButtons = document.querySelectorAll('.like-button')
  likeButtons.forEach(button => {
    button.addEventListener('click', function(event) {
      const movieId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      {% if user.is_authenticated %}
        axios.post(`/movies/${movieId}/like/`)
          .then(response => {
            document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
            if (response.data.liked) {
              event.target.style.color = 'crimson'
            } else {
              event.target.style.color = 'black'
            }
          })
          .catch(error => console.log(error))
      {% else %}
        alert('좋아요 기능을 사용하려면 로그인을 해주세요.')
      {% endif %}
    })
  })

  const reviewupdates = document.querySelectorAll('.review-update')
  reviewupdates.forEach(list => {
    list.addEventListener('click', function (event) {

      const movieId = event.target dataset id
      const reviewId = event.target dataset id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/reviews/`)
        .then(response => {
          document.querySelector
        })

    })
  })

</script>
