{% extends 'movies/base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    {% for movie in movies %}
    <div class="card text-center m-1 col-3" style="width: 25rem;">
      <div class="card-body">
        <h5 class="card-title">{{ movie.title }}</h5>
        <img src="{{ movie.image }}" alt="img">
        <br>
        {% if user in movie.like_users.all %}
          <i class="fas fa-heart like-button" style="color: crimson;" data-id="{{ movie.pk }}">좋아요!</i>
          {% else %}
          <i class="fas fa-heart like-button" style="color: black;" data-id="{{ movie.pk }}">좋아요?</i>
        {% endif %}
        <br>
        <span id="like-count-{{ movie.pk }}">{{ movie.like_users.count }}</span> 명이 좋아요.
    <br>
    <br>
        <a href="{{ movie.get_absolute_url }}" class="btn btn-primary">DETAIL</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  const likebuttons = document.querySelectorAll('.like-button')
  likebuttons.forEach(button => {
    button.addEventListener('click', function (event) {

      const movieId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/movies/${movieId}/like/`)
        .then(response => {
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.count
          if (response.data.liked) {
            event.target.style.color = 'crimson'
          } else {
            event.target.style.color = 'black'
          }
        })

    })
  })
</script>
{% endblock %}