{% extends 'movies/base.html' %}
{% load bootstrap4 %}

{% block content %}
<div id="divPosition">
  <h2>User List</h2>
  <br>
  <hr>
  {{ request.username }}
  {% for user in users %}
    <div>
      <h4><a href="{% url 'accounts:profile' user.pk %}">{{ user.username }}</a></h4>
      <hr>
    </div>  
  {% endfor %}
</div>

<style>
  #divPosition {  
    background-color: white;
    border: 1px solid #5D5D5D;
    position:absolute;
    height:1000px;
    width:1000px;
    margin:-75px 0px 0px -100px;
    top: 15%;
    left: 30%;
    padding: 5px;
  }
</style>
{% endblock %}
