{% extends 'movies/base.html' %}
{% load bootstrap4 %}
{% block content %}

<h1 class="text-center" style="font-family: 'Do Hyeon', sans-serif;">{{ people }}의 공간</h1>
<hr>
<br>

<div>
  <h4><strong>{{ people }}</strong></h4>
  {% if people != user %}
    {% if people in user.followings.all %}
      <i class="fas fa-heart follow-button" style="color: red;" data-id="{{ people.pk }}"></i>
    {% else %}
      <i class="fas fa-heart follow-button" style="color: black;" data-id="{{ people.pk }}"></i>
    {% endif %}
  {% endif %}
  <p>팔로우 목록: <a href="{% url 'accounts:followings' people.pk %}">{{ people.followings.all.count }}</a> / 
    팔로워 목록: <a href="{% url 'accounts:followers' people.pk %}">{{ people.followers.all.count }}</a></p>
</div>

<hr>
<h3 class="text-center" style="font-family: 'Jua', sans-serif;">{{ people }}이 작성한 리뷰</h3>
<br>
<div class="row">
  {% if people.review_set.all %}
    {% with reviews=people.review_set.all  %}
    {% for review in reviews %}
      <div class="col-4 my-2">
        <div class="card">
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <h4> {{ review.movie }}</h4><br>
              <i class="fas fa-star" style="color: #FFD700;"></i>{{ review.score }}<br>
                내용: {{ review.review }}
            </blockquote>
          </div>
        </div>
      </div>
    {% endfor %}
    {% endwith %}
  {% else %}
    <p>&nbsp;&nbsp;&nbsp;&nbsp;작성된 리뷰가 없습니다.</p>
  {% endif %}
</div>

<div>
  <hr>
  <br>
  <h3 class="text-center" style="font-family: 'Jua', sans-serif;">내 친구가 좋아하는 영화</h3>
  <hr>
  {% if people == user %}
    {% if people.followings.all %}
      {% for user_follow in people.followings.all %}
        <p>{{ user_follow.review_set.first.movie.title }}
          {{ user_follow.review_set.first.score }}</p>
      {% endfor %}
    {% else %}
      <p>팔로우하는 사람이 없습니다.</p>
    {% endif %}
  {% else %}
    <p>본인만 볼 수 있습니다.</p>
  {% endif %}
  <hr>
</div>

<script>
  const likebuttons = document.querySelectorAll('.follow-button')
  likebuttons.forEach(button => {
    button.addEventListener('click', function (event) {
      const peopleId = event.target.dataset.id
      axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      axios.defaults.xsrfCookieName = 'csrftoken'
      axios.defaults.xsrfHeaderName = 'X-CSRFToken'
      axios.post(`/accounts/${peopleId}/follow/`)
        .then(response => {
          if (response.data.followed) {
            event.target.style.color = 'red'
          } else {
            event.target.style.color = 'black'
          }
        })
    })
  })
</script>
{% endblock %}
